<section id="crowns" class="scrollto">
	<div class="row clearfix">
		<div class="col-3">
			<div class="section-heading">
				<a href="javascript:history.back()">
					<h3>
						<div class="icon"><i class="fa fa-backward fa-1x"></i> Home</div>
					</h3>
				</a>
				<h2 class="section-title">World Coins</h2>
				<p class="section-subtitle">
					Explore the fascinating world of numismatics and whether you’re a
					history buff, a cultural enthusiast or collector, discover a wide
					range of rare and valuable coins from around the world. Coins tell us
					how people lived their lives, how soldiers were paid, what governments
					functioned. Coins tell us how wars were fought, how monarchs reigned
					within kingdoms and empires. We invite you to explore our coin
					collecting category and discover the beauty of coins from around the
					world.
				</p>
			</div>
		</div>

		<div class="col-2-3">
			@for (Country of Country$ | async; track Country; let i = $index) {
				<div class="container">
					<app-image-block [country]="Country"></app-image-block>
					<div>
						<h2 class="section-title">
							{{ Country.name }}: {{ Country.title }}
						</h2>
						<p class="section-subtitle">{{ Country.description }}</p>
					</div>
					<span class="spacer"> &nbsp;</span>
				</div>
			}
		</div>
	</div>
</section>
