<section id="crowns" class="scrollto">
	<div class="row clearfix">
		@if (countryPageHeader$ | async; as country) {
			<div class="col-3">
				<div class="section-heading">
					<a href="javascript:history.back()">
						<h3>
							<div class="icon">
								<i class="fa fa-backward fa-1x"></i> {{ country.tagline }}
							</div>
						</h3>
					</a>

					<h2 class="section-title">{{ country.title }}</h2>
					<p class="section-subtitle">{{ country.description }}</p>
				</div>
			</div>
		}
		<div class="col-2-3">
			@for (coinbl of coinList$ | async; track coinbl) {
				<div class="container">
					<app-worldcointype-block
						[coinTypeBlock]="coinbl"></app-worldcointype-block>
					<div>
						<h2 class="section-title">{{ coinbl.title }}</h2>
						<p class="section-subtitle">{{ coinbl.description }}</p>
					</div>
					<span class="spacer"> &nbsp;</span>
				</div>
			}
		</div>
	</div>
</section>
